
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="nav navbar-nav navbar-right" style="text-align: right;">
            <label style = "color:#272c33;">Hello  @User.Identity.GetUserName()  !</label>
                @*@Html.Label(, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color:#272c33;" })*@
            <a href="javascript:document.getElementById('logoutForm').submit()" style="color:#272c33">Log off</a>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
