.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-top-40 {
    margin-top: 40px;
}


.margin-top-5-negative {
    margin-top: -5px;
}

.margin-top-10-negative {
    margin-top: -10px;
}

.margin-top-15-negative {
    margin-top: -15px;
}

.margin-top-20-negative {
    margin-top: -20px;
}

.margin-top-25-negative {
    margin-top: -25px;
}

.margin-top-30-negative {
    margin-top: -30px;
}

.margin-top-35-negative {
    margin-top: -35px;
}

.margin-top-40-negative {
    margin-top: -40px;
}




.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}


.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-25 {
    margin-left: 25px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-35 {
    margin-left: 35px;
}

.margin-left-40 {
    margin-left: 40px;
}


.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-25 {
    margin-right: 25px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-right-35 {
    margin-right: 35px;
}

.margin-right-40 {
    margin-right: 40px;
}






/* Padding Classes */

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-35 {
    padding-top: 35px;
}

.padding-top-40 {
    padding-top: 40px;
}


.padding-top-5-negative {
    padding-top: -5px;
}

.padding-top-10-negative {
    padding-top: -10px;
}

.padding-top-15-negative {
    padding-top: -15px;
}

.padding-top-20-negative {
    padding-top: -20px;
}

.padding-top-25-negative {
    padding-top: -25px;
}

.padding-top-30-negative {
    padding-top: -30px;
}

.padding-top-35-negative {
    padding-top: -35px;
}

.padding-top-40-negative {
    padding-top: -40px;
}




.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-35 {
    padding-bottom: 35px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}


.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-35 {
    padding-left: 35px;
}

.padding-left-40 {
    padding-left: 40px;
}


.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-right-35 {
    padding-right: 35px;
}

.padding-right-40 {
    padding-right: 40px;
}








.modal-forgot {
    max-width: 520px;
    margin-top: 125px !important;
    margin: 0px auto;
}

.modal-forgot-header {
    max-width: 520px;
    padding: 8px 5px 2px 5px;
    min-height: 40px;
    background: #34aadc;
    color: #fff;
}

.navigation-link {
    color: #34aadc !important;
    text-decoration: none;
    font-weight: bold;
}

.imgButton {
    cursor: pointer;
    text-decoration: none;
}

.result-table {
    border: 1px solid #ddd;
}

.result-notfound-text {
    font-size: 24px;
    padding-top: 10px;
}

.result-notfound-icon {
    font-size: 150px;
    color: #ddd;
    text-align: right;
}

.form-label {
    font-size: 12px;
    text-align: left;
    color: #808080;
}

.table-header {
    background:#3c8dbc; color:#fff;
}

.validation-error {
    background-color: #f2dede;
}


.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-bold {
    font-weight:bold;
}


.table-row-width-10 {
    width: 10%;
}

.table-row-width-15 {
    width: 15%;
}

.table-row-width-20 {
    width: 20%;
}

.table-row-width-25 {
    width: 25%;
}

.table-row-width-30 {
    width: 30%;
}

.table-row-width-35 {
    width: 35%;
}

.table-row-width-40 {
    width: 40%;
}

.table-row-width-45 {
    width: 45%;
}

.table-row-width-50 {
    width: 50%;
}

.table-row-width-55 {
    width: 55%;
}

.table-row-width-60 {
    width: 60%;
}

.table-row-width-65 {
    width: 65%;
}

.table-row-width-70 {
    width: 70%;
}

.table-row-width-75 {
    width: 75%;
}

.table-row-width-80 {
    width: 80%;
}

.table-row-width-85 {
    width: 85%;
}

.modalLoading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../Images/loading-big.gif') 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modalLoading {
        display: block;
    }

.selectedPage {
    background-color: #428bca !important;
    color: white !important;
}


.UserDetailItem
{
    padding:5px 15px !important;
    font-size:14px !important;
}

.UserDetailItem a
{
    padding:0px 0px !important;
    text-align:right!important;
}

.UserDetailItem a:hover
{
    background-color: transparent !important;
    color: #428bca !important;
}

.UserDetail{
    background-color:rgba(255,255,255,.95) !important;
}

.font-color-red
{
    color:#dd4b39;
}

.pull-center
{
    text-align:center;
}

.font-color-blue {
    color:#3c8dbc;
}

.btn-tab {
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #b9b5b5;
    background-color:#ECF0F5;
}

.activeBtn-tab {
    border-top:1px solid #b9b5b5;
    border-left:1px solid #b9b5b5;
    border-right:1px solid #b9b5b5;
    border-bottom:none;
    background-color:#ECF0F5;
}

.tab-border {
    border-bottom:1px solid #b9b5b5;
}

.cell-width-5{
    width:5%;
}

.btn-header {
    background-color:#3c8dbc;
    cursor:auto;
}

.icon-Edit{
    background-image:url(../../Images/edit.png);
    display:inline-block;
    height:45px;
    width:40px;
    background-repeat:no-repeat;
}
.icon-Add{
    background-image:url(../../Images/add.png);
    display:inline-block;
    height:45px;
    width:40px;
    background-repeat:no-repeat;
}
.icon-Delete{
    background-image:url(../../Images/delete.png);
    display:inline-block;
    height:45px;
    width:40px;
    background-repeat:no-repeat;
}
.icon-Copy{
    background-image:url(../../Images/copy.png);
    display:inline-block;
    height:45px;
    width:40px;
    background-repeat:no-repeat;
}
.icon-Batchlist{
    background-image:url(../../Images/batch_list.png);
    display:inline-block;
    height:45px;
    width:40px;
    background-repeat:no-repeat;
}
.icon-Draft{
    background-image:url(../../Images/draft.png);
    display:inline-block;
    height:45px;
    width:40px;
    background-repeat:no-repeat;
}
.icon-Refresh{
    background-image:url(../../Images/refresh.png);
    display:inline-block;
    height:45px;
    width:40px;
    background-repeat:no-repeat;
}
.icon-Save{
    background-image:url(../../Images/save.png);
    display:inline-block;
    height:45px;
    width:40px;
    background-repeat:no-repeat;
}
.icon-Send{
    background-image:url(../../Images/send.png);
    display:inline-block;
    height:45px;
    width:40px;
    background-repeat:no-repeat;
}
.icon-Validate{
    background-image:url(../../Images/validate.png);
    display:inline-block;
    height:45px;
    width:40px;
    background-repeat:no-repeat;
}

.button-Batch{
    display:inline-block;
    height:34px;
    width:160px;
    background-repeat:no-repeat;
    background-color:#3c8dbc;
    text-align:center;
    color:#fff;
    font-size:15px;
    padding:6px;
}

.button-BatchDetail{
    display:inline-block;
    height:34px;
    width:145px;
    background-repeat:no-repeat;
    background-color:#3c8dbc;
    text-align:center;
    color:#fff;
    font-size:15px;
    padding:6px;
}

.button{
    display:inline-block;
    height:34px;
    width:140px;
    background-repeat:no-repeat;
    background-color:#3c8dbc;
    text-align:center;
    color:#fff;
    font-size:15px;
    padding:6px;
}

.small-icon{
    font-size:15px;
}
