@model Nom.ViewModel.UploadFilesListDTO
<h4>List Of Uploaded Files</h4>
<div class="row">
    <table class="table table-bordered table-hover" id="UploadedFileTable">
        <thead>
            <tr class="gradeX">
                @*<th style="min-width: 120px;"><input type="checkbox" class="selectall" value="0"> Select All</th>*@
                <th>Name</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UploadedFilesList)
            {
                <tr class="gradeX">
                    @*<td class="center"><input type="checkbox" rel="@item.ID" class="chkboxes"></td>*@
                    <td class="left">
                        <a href="@Url.Action("DownloadFile",new { FileID = item.ID, pipelineId=item.PipelineId })" title="Click to Download">@item.FileName</a>
                    </td>
                    <td class="center">@item.CreatedDate</td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script>
    $(document).ready(function () {
        $("#UploadedFileTable").DataTable({
            scrollX: true,
            scrollCollapse: true,
            "order": [[1, "desc"]]
        });     
    })
</script>