body {
}
/*#region Datatable */

table.dataTable thead th.sorting,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc {
    background: none;
    padding: 13px -6px;
}

/*#endregion */


/*#region Buttons */

.btn-add-edit {
    color: #fff;
    background-color: #272F3C;
    border-color: #272F3C;
    border-radius: 5px;
    color: #fff !important;
}

.btn {
    border-radius: 5px;
    margin-bottom: 1%;
}

.btn-save {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff !important;
}

.btn-reset {
    background-color: #808080;
    border-color: #808080;
    color: #fff !important;
}


.btn-delete {
    background-color: #FF6C3A;
    border-color: #FF6C3A;
    color: #fff !important;
}

    .btn-delete:hover, .btn-add-edit:hover, .btn-save:hover, .btn-reset :hover {
        color: #fff;
        background-color: rgb(103, 105, 109);
        border-color: rgb(103, 105, 109);
    }


/*#endregion */


/*#region Switch Button */

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2ab934;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on {
    display: none;
}

.on, .off {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
    display: block;
}

input:checked + .slider .off {
    display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*#endregion */